body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:480px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:360px;
  height:480px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:360px;
  height:40px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:112px;
  width:350px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:330px;
  width:35px;
  height:35px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:330px;
  width:35px;
  height:35px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:280px;
  width:302px;
  height:262px;
  text-align:center;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:168px;
  width:30px;
  height:30px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:233px;
  width:30px;
  height:30px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:565px;
  width:15px;
  height:15px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:565px;
  width:15px;
  height:15px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:565px;
  width:15px;
  height:15px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
