body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:1000px;
  height:500px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:444px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:146px;
  width:843px;
  height:444px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:146px;
  width:843px;
  height:53px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:121px;
  width:15px;
  height:15px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:121px;
  width:15px;
  height:15px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:121px;
  width:15px;
  height:15px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:120px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:114px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 188, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:157px;
  width:128px;
  height:35px;
  color:#FFFFFF;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:153px;
  width:42px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:153px;
  width:42px;
  height:42px;
  font-size:12px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:159px;
  width:30px;
  height:30px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:162px;
  width:25px;
  height:25px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:174px;
  width:51px;
  height:3px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:153px;
  width:42px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:54px;
  height:6px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:173px;
  width:51px;
  height:3px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:162px;
  width:25px;
  height:25px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:209px;
  width:817px;
  height:54px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:285px;
  width:817px;
  height:299px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:227px;
  width:92px;
  height:17px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:350px;
  width:92px;
  height:17px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:304px;
  width:15px;
  height:15px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:304px;
  width:15px;
  height:15px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:301px;
  width:6px;
  height:20px;
  font-family:'微軟正黑體 Bold Oblique', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:oblique;
  font-size:16px;
  color:#666666;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:301px;
  width:11px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:301px;
  width:14px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:304px;
  width:15px;
  height:15px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:500px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:137px;
  height:500px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(134, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:151px;
  width:137px;
  height:46px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:166px;
  width:15px;
  height:15px;
  color:#000000;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:166px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:269px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:269px;
  width:15px;
  height:15px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:321px;
  width:53px;
  height:16px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:321px;
  width:15px;
  height:15px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:373px;
  width:53px;
  height:16px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:373px;
  width:15px;
  height:15px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:218px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:218px;
  width:15px;
  height:15px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:115px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:115px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
